    name: Flask CI/CD Pipeline

    on:
      push:
        branches:
          - main

    jobs:
      build-and-deploy:
        runs-on: ubuntu-latest

        steps:
          - name: Checkout Repository
            uses: actions/checkout@v4

          - name: Set up Python
            uses: actions/setup-python@v5
            with:
              python-version: '3.7'

          - name: Install Dependencies
            run: pip install -r requirements.txt

          - name: Install CuPUL
            run: pip install -e .

          - name: Build Docker Image
            run: docker build -t nlp-backend-flask .